<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycommunity.dao.CommunityMessageReceivingDao">
    <select id="getAllMailById" resultMap="CommunityMessageReceivingType1" parameterType="hashmap">
        select cmr.id cmrId,cmr.messagesendingid,cmr.receiverid,cmr.readed,cmr.status cmrStatus
                ,cms.id cmsId,cms.title,cms.content,cms.receivers,cms.sendtime,cms.senderid,cms.status cmsStatus
                ,cu.nickname sendNickName
        from CommunityMessageReceiving cmr
        join CommunityMessageSending cms on cmr.messagesendingid = cms.id
        join CommunityUser cu on cu.id = cms.senderid
        where cmr.ReceiverId = ${id} and cmr.Status = ${status}
        <if test="readed>=0">
            and cmr.readed = ${readed}
        </if>
        order by cms.sendtime desc
    </select>
    <update id="operateEmail" parameterType="hashmap">
        update CommunityMessageReceiving set Status = #{status} where id =#{cmrId}
    </update>
    <insert id="addCommunityMessageReceiving" parameterType="hashmap">
        insert into CommunityMessageReceiving values(seq_community_message_recei.nextval,#{messageSendingId},#{receiverId},0,1)
    </insert>
    <select id="getCommunityMessageReceivingById" resultMap="CommunityMessageReceivingType1" parameterType="hashmap">
        select cmr.id cmrId,cmr.messagesendingid,cmr.receiverid,cmr.readed,cmr.status cmrStatus
       ,cms.id cmsId,cms.title,cms.content,cms.receivers,cms.sendtime,cms.senderid,cms.status cmsStatus
       ,cu.nickname sendNickName,cu.username senderName
        from CommunityMessageReceiving cmr
        join CommunityMessageSending cms on cmr.messagesendingid = cms.id
        join CommunityUser cu on cu.id = cms.senderid
        where cms.id = #{cmsId} and cmr.receiverid = #{receiverId}
    </select>
    <update id="sign_read" parameterType="int">
        update CommunityMessageReceiving set Readed = 1 where id = #{cmrId}
    </update>

    <resultMap type="CommunityMessageReceiving" id="CommunityMessageReceivingType1">
        <id column="cmrid" property="id"/>
        <result column="cmrStatus" property="status"/>
        <association property="communityMessageSending" javaType="CommunityMessageSending">
            <id column="cmsId" property="id"/>
            <result column="cmsStatus" property="status"/>
        </association>
    </resultMap>
</mapper>